{% unless page.images == blank %}
	<div class="col-md-6 pull-right">
	{% for item in page.images %}
		{% if item.alt %}
		  {% assign alt = item.alt %}
		{% elsif item.caption %}
		  {% assign alt = item.caption %}
		{% elsif post.alt %}
		  {% assign alt = post.image_default_alt %}
		{% elsif page.alt %}
		  {% assign alt = page.image_default_alt %}
		{% else %}
		  {% assign alt = site.image_default_alt %}
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-body">
				{% if item.link %}<a href="{{ item.link }}">{% endif %}
				<img alt="{{ alt }}" src="{{ item.url }}" class="img-responsive img-rounded">
				{% if item.link %}</a>{% endif %}
			</div>
			<div class="panel-footer">{{ item.caption }}</div>
		</div>
	{% endfor %}
	</div>
{% endunless %}
